@font-face {
    font-family: Consolas;
    src: url('../fonts/Consolas.ttf');
}

*{
    font-family: Consolas;
    font-size: 16px;
    cursor: pointer;
}
font{
    font-size: .8em !important;
}
pre{
    line-height: .7em !important;
}
body{
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {display: none;}
::-webkit-scrollbar-button {display: none;}
::-moz-scrollbar {display: none;}
::-moz-scrollbar-button {display: none;}

body {
  -ms-overflow-style:none;
}
#container{
    background-color: #000;
    color: #AAA;
    width: 50%;
    height: 42.5%;
    margin: auto;
    position: fixed;
    overflow-y: scroll;
    padding: 10px;
    top: 10%;
    left: 25%;
    border: 4px dashed #AAA;
}
#container2{
    float: left;
    background-color: #000;
    color: #AAA;
    width: 50%;
    height: 30%;
    margin: auto;
    position: fixed;
    overflow: auto;
    padding: 10px;
    top: 55%;
    left: 25%;
    border: 4px dashed #AAA;
}

.line{
    float: left;
    width: 100%;
}
.line.spaced{
    margin-bottom: 20px;
}
.line.input-line{
    padding-top: 10px;
    width: 50%;
    left: 25%;
    position: fixed;
    bottom: 7.4%;
    border-top: 0;
    border: 4px dashed #AAA;
    padding: 10px;
    background-color: #000;
}

.text{
    float: left;
}
.red{
    color: #F00
}
.green{
    color: #0F0
}
.blue{
    color: #00F
}
.purple{
    color: #808
}
.yellow{
    color: #FF0
}
.italic{
    font-style: italic
}
.small{
    font-size: 1em;
}

/*blinkCursor olduğundan input hidden*/
input#input{
    width: 0;
    height: 0;
    opacity: 0;
}
/*blinkCursor*/
#cmd span {
    float: left;
}
#cursor {
    float: left;
    width: 5px;
    height: 18px;
    background-color: #AAA;
}


#statistics-button{
    position: fixed;
    top: 15px;
    text-align: center;
    background-color: #000080;
    color: #FFF;
    padding: 10px;
}


#statistics{
    display: none;
    position: fixed;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    background-color: #000080;
    color: #FFF;
    z-index: 10;
    padding: 30px;
}
#statistics .left{
    float: left;
    width: 30%;
}
#statistics .right{
    float: left;
    width: 70%;
}

#statistics .title, #statistics .content, #general, #your_answers{
    float: left;
    width: 100%;
}

#general, #your_answers{
    margin-bottom: 30px;
}


#main-menu{
    display: none;
    position: fixed;
    width: 30%;
    height: 60%;
    left: calc(35% - 30px);
    top: calc(20% - 30px);
    background-color: #000080;
    color: #FFF;
    z-index: 10;
    padding: 30px;
}
#main-menu .item{
    font-size: 3vh;
    line-height: 9.5vh;
}
#main-menu .item .sk{
    font-size: 4vh;
}


/*fight screen*/
#fight{
    display: none;
    float: left;
    width: 100%;
    height: 100%;
}
#character, #enemy{
    float: left;
    position: relative;
    padding-left: 10px;
    width: calc(50% - 34px);
    height: 100%;
    border-right: 4px dashed #AAA;
} #enemy{
    border: 0;
    padding-left: 20px
}
#container2 .attr{
    float: left;
    width: 50%;
    height: 20%;
    line-height: 1.2em;
    font-size: .8em;
}#character{
    padding-right: 20px;
}
#ch-health-bar.attr, #en-health-bar.attr, #ch-mana-bar.attr, #en-mana-bar.attr{
    height: 2em;
    margin: 0 5px;
    margin-bottom: 20px;
    width: calc(50% - 12px);
    text-align: center;
}
#ch-health-bar.attr, #en-health-bar.attr{
    border: 1px solid #F00;
}
#ch-mana-bar.attr, #en-mana-bar.attr{
    border: 1px solid #00F;
}
#ch-health, #en-health{
    background-color: #F00;
}
#ch-mana, #en-mana{
    background-color: #00F;
}
#ch-health, #en-health, #ch-mana, #en-mana{
    color: #FFF;
    width: 100%;
    height: 100%;
    line-height: 1.6em;
}
/*fight screen*/


#skills-menu, #character-menu{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
#skills-menu .skill{
    width: calc(25% - 10px);
    height: 100%;
    float: left;
    margin-right: 10px;
    border-right: 2px dashed #CCC;
}
#skills-menu .skill:last-child{
    margin-right: 0;
    border: 0;
}
#skills-menu .skill div{
    font-size: 12px;
    height: 15%;
    color: #FFF;
    line-height: 1.8vh;
}
#skills-menu .skill div span{
    font-size: 12px;
}
#skills-menu .skill span.attack{
    color: 	#DC143C;
}#skills-menu .skill span.magic{
    color: #4169E1;
}
#skills-menu .skill .name span{
    display: block;
}#skills-menu .skill .mana_cost{
    color: blue;
    float: left;
    width: 50%;
    height: 5%;
}#skills-menu .skill .cooldown{
    color: #808;
    float: left;
    width: 50%;
    height: 5%;
}
#skills-menu .skill .description{
    height: 65%;
}








@media(max-width: 991px){
    #container{
        top: 0;
        left: 0;
        height: 60%;
        width: calc(100% - 3px); /* Moz Hide */
        border: 0;
    }
    #container2{
        top: auto;
        bottom: 40px;
        left: 0;
        height: calc(40% - 88px);
        width: calc(100% - 20px);
        border: 0;
        border-top: 4px dashed #AAA;
        border-bottom: 4px dashed #AAA;
    }
    .line.input-line{
        height: 20px;
        left: 0;
        bottom: 0;
        width: calc(100% - 20px);
        border: 0;
    }
    #main-menu{
        width: 80%;
        height: 80%;
        left: calc(10% - 30px);
        top: calc(10% - 30px);
        padding: 30px
    }
    #main-menu .item{
        line-height: 13vh;
    }
}

@-moz-document url-prefix() { /*mozilla için*/
    #container-out{
        background-color: #000;
        color: #AAA;
        width: calc(50% + 20px);
        height: calc(42.5% + 21px);
        margin: auto;
        position: fixed;
        top: 10%;
        left: 25%;
        border: 4px dashed #AAA;
    overflow: hidden;
    }
    #container{
        background-color: #000;
        color: #AAA;
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        padding: 10px;
        top: auto;
        left: auto;
        border: 0;
        overflow-y: scroll;
        padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    }
    @media(max-width: 991px){
        #container{
            height: calc(100% - 25px);
        }
        #container-out{
            top: 0;
            left: 0;
            height: calc(60% + 20px);
            width: calc(100% - 1px); /* Moz Hide */
            border: 0;
        }
    }
    @media(min-width: 991px){
        #container-out{
            height: calc(50% - 4px);
            width: calc(50% + 20px); /* Moz Hide */
        }
    }
    #container{
        height: calc(100% - 25px);
    }
}