@font-face {
    font-family: Consolas;
    src: url('../fonts/Consolas.ttf');
}

*{
    font-family: Consolas;
    font-size: 16px;
}

body{
    background-color: #000;
    margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
body {
  -ms-overflow-style:none;
}
#container{
    float: left;
    background-color: #000;
    color: #AAA;
    width: 50%;
    height: 48%;
    margin: auto;
    position: fixed;
    overflow-y: scroll;
    padding: 10px;
    top: 10%;
    left: 25%;
    border: 4px dashed #AAA;
}
#container2{
    float: left;
    background-color: #000;
    color: #AAA;
    width: 50%;
    height: 25%;
    margin: auto;
    position: fixed;
    overflow: auto;
    padding: 10px;
    top: 60%;
    left: 25%;
    border: 4px dashed #AAA;
}

.line{
    float: left;
    width: 100%;
}
.line.spaced{
    margin-bottom: 20px;
}
.line.input-line{
    padding-top: 10px;
    width: 50%;
    left: 25%;
    position: fixed;
    bottom: 7.4%;
    border-top: 0;
    border: 4px dashed #AAA;
    padding: 10px;
}

.text{
    float: left;
}
.text.red{
    color: #F00
}
.text.green{
    color: #0F0
}
.text.blue{
    color: #00F
}
.text.purple{
    color: #808
}

/*blinkCursor*/
#cmd span {
    float: left;/*padding-left: 3px;white-space: pre;*/
}

#cursor {
    float: left;
    width: 5px;
    height: 18px;
    background-color: #AAA;
}

input#input{
    /*
    background-color: #000;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: -1px;
    float: left;
    width: 9px;
    overflow: hidden;
    resize: none;
    */
    width: 0;
    height: 0;
    opacity: 0;
}
/*blinkCursor*/


#switch-color{
    width: 50px;
    height: 50px;
    background-color: #FFF;
}

#statistics-button{
    position: fixed;
    text-align: center;
    background-color: #000080;
    color: #FFF;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px;
    cursor: default;
}


#statistics{
    display: none;
    position: fixed;
    width: 60%;
    height: 60%;
    left: calc(20%);
    top: calc(20%);
    background-color: #000080;
    color: #FFF;
    z-index: 10;
    padding: 30px;
}
#statistics .left{
    float: left;
    width: 30%;
}
#statistics .right{
    float: left;
    width: 70%;
}

#statistics .title, #statistics .content, #general, #your_answers{
    float: left;
    width: 100%;
}

#general, #your_answers{
    margin-bottom: 30px;
}